body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    user-select: none;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="password"],
input[type="text"] {
    margin-bottom: -5px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

input[type="checkbox"] {
    margin-right: 5px;
    margin-left: 0.2vh;
}

/* input[type="submit"] {
    background-color: #007Bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
} */

/* input[type="submit"]:hover {
    background-color: #0056b3;
    transition: .5s;
} */