body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
}
button:hover{
    background-color: #0056b3;
    transition: .5s;
}